.headings {
  text-align: center;
  color: rgb(0, 183, 255);
}

.sub-heading {
  text-align: center;
}

.about-intro {
  padding-top: 100px;
}

.about-info {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  height: 220px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 35px;
  border-radius: 10px;
}

.about-info::after {
  content: "";
  display: table;
  clear: both;
}

.about-info .profilephoto {
  height: 180px;
  width: 180px;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.about-info .profilephoto img {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.about-info .lead {
  position: relative;
  box-sizing: border-box;
  float: left;
  text-align: left;
  font-size: larger;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  width: 62.5%;
  height: 75%;
}

.about-content {
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
}

.about-content::after {
  content: "";
  display: table;
  clear: both;
}

.about-content .info-list {
  list-style: none;
  margin-left: 0;
}

.about-content .info-list li {
  padding: 0 0 1.5rem 0;
  margin-left: 0;
}

.about-content .info-list li strong {
  color: #313131;
  text-transform: uppercase;
  font-size: large;
}

.about-content .info-list li span {
  display: block;
  color: #888888;
  font-size: medium;
}
.about-content .info-list li span a {
  text-decoration: none;
  font-weight: bold;
}
.profile {
  box-sizing: border-box;
  text-align: left;
  float: left;
  width: 30%;
  padding-left: 50px;
}

.profile h3 {
  padding-left: 40px;
}

.profile p {
  color: #888888;
  padding-left: 40px;
  font-size: medium;
}

.skills {
  box-sizing: border-box;
  text-align: left;
  float: left;
  width: 30%;
  padding-left: 20px;
}

.skills h3 {
  padding-left: 40px;
}

.button-section {
  text-align: center;
}

.button-section a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  background-color: black;
  padding: 15px 40px;
}

@media screen and (max-width: 800px) {
  .about-info {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    box-sizing: border-box;
    height: 500px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-info .profilephoto {
    box-sizing: border-box;
    position: absolute;
    height: 180px;
    width: 180px;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    float: none;
    top: 25px;
  }

  .about-info .profilephoto img {
    position: absolute;
    box-sizing: border-box;
    height: 180px;
    width: 180px;
    border-radius: 100%;
    float: none;
  }

  .about-info .lead {
    position: absolute;
    box-sizing: border-box;
    float: none;
    text-align: left;
    font-size: larger;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    bottom: 25px;
    width: 300px;
    height: 220px;
  }

  .about-content {
    flex-direction: column;
  }

  .profile {
    box-sizing: border-box;
    text-align: left;
    float: none;
    width: 100%;
    padding: 0 20px;
  }

  .profile h3 {
    text-align: center;
    padding-left: 0;
  }

  .skills {
    box-sizing: border-box;
    text-align: left;
    float: none;
    width: 100%;
  }

  .skills h3 {
    text-align: center;
    padding-left: 0;
  }
}
